{% from "_form_utils.html" import render_field, render_keyvalue_field %}

{% macro leap_metadata_form(form, form_prefix, table_name="other-table") -%}

    <script>
        $(document).ready(function () {
            // Script for selectively showing only part of the form
            var volt_ratio= $('#{{ form_prefix }}voltage_ratio').parent();
            var laser_eng = $('#{{ form_prefix }}laser_pulse_energy').parent();
            var laser_freq = $('#{{ form_prefix }}laser_pulse_frequency').parent();
            var pickSubForm = function () {
                var method = $("input[name='{{ form_prefix }}evaporation_mode']:checked").val();
                volt_ratio.hide();
                laser_eng.hide();
                if (method === "voltage") {
                    volt_ratio.show();
                } else {
                    laser_eng.show();
                }
            };
            pickSubForm();

            $("input[name='{{ form_prefix }}evaporation_mode']").click(pickSubForm);
        });
    </script>

    {{ render_field(form.leap_model) }}

    {{ render_field(form.evaporation_mode, class="") }}

    {{ render_field(form.voltage_ratio) }}

    {{ render_field(form.laser_pulse_energy) }}

    {{ render_field(form.laser_pulse_frequency) }}

    {{ render_field(form.temperature) }}

    {{ render_field(form.detection_rate) }}

    {{ render_field(form.chamber_pressure) }}

    {{ render_keyvalue_field(form.misc, table_name) }}
{%- endmacro %}

{% macro sample_form(form) -%}
    {{ render_field(form.sample_title) }}
    {{ render_field(form.sample_description) }}
    {{ render_keyvalue_field(form.metadata, "description_metadata") }}
{%- endmacro %}

{% macro recon_form(form) -%}

    <script>
        $(document).ready(function () {
            // Script for selectively showing only part of the form
            var tip_radius= $('#tip_radius').parent();
            var shank_angle = $('#shank_angle').parent();
            var tip_image = $('#tip_image').parent();
            var pickSubForm = function () {
                var method = $("input[name='reconstruction_method']:checked").val();
                [tip_radius, shank_angle, tip_image].forEach(function(x) {
                    x.hide();
                    x.find('input').removeAttr('required');
                });
                if (method === "shank_angle") {
                    tip_radius.show(); tip_radius.find('input').attr('required');
                    shank_angle.show(); shank_angle.find('input').attr('required');
                } else if (method === "voltage_profile") {
                    tip_radius.show(); tip_radius.find('input').attr('required');
                } else {
                    tip_image.show(); tip_image.find('input').attr('required');
                }
            };
            pickSubForm();

            $("input[name='{{ form_prefix }}reconstruction_method']").click(pickSubForm);
        });
    </script>

    <h2>General Metadata</h2>

    <p>Simple description of this reconstruction.</p>

    {{ render_field(form.title, required=True) }}

    {{ render_field(form.description) }}

    {{ render_keyvalue_field(form.metadata, 'metadata-table') }}

    <h2>Reconstruction Settings</h2>

    <p>Metadata about how this reconstruction was performed. Fill out as many are applicable.</p>

    {{ render_field(form.reconstruction_method, class="") }}

    {{ render_field(form.tip_radius) }}

    {{ render_field(form.shank_angle) }}

    {{ render_field(form.tip_image) }}

{%- endmacro %}

{% macro sample_prep_form(form, form_prefix) -%}

    <script>
        $(document).ready(function () {
            // Script for selectively showing only part of the form
            var ep_form = $('#electropolish_form');
            var fib_form = $('#fib_form');
            var pickSubForm = function () {
                var method = $("input[name='{{ form_prefix }}preparation_method']:checked").val();
                ep_form .hide();
                fib_form.hide();
                if (method === "fib_lift_out") {
                    fib_form.show();
                } else {
                    ep_form.show();
                }
            };
            pickSubForm();

            $("input[name='{{ form_prefix }}preparation_method']").click(pickSubForm);

            // Script for adding / removing EP steps
            var getNumRows = function () {
                return $("#ep_table").find("tr").length - 1;
            };
            if (getNumRows() === 1) {
                $("#ep-delete-row").hide(); // Remove this button at first
            }

            $("#ep-add-row").click(function () {
                var numRows = getNumRows();

                // Make a new form row
                var tr = document.createElement("tr");

                // Add loop counter
                var td = document.createElement("td");
                td.innerHTML = numRows + 1;
                tr.appendChild(td);

                ['solution', 'voltage', 'temperature'].forEach(function (e) {
                    td = document.createElement("td");
                    var input = document.createElement("input");
                    input.id = '{{ form_prefix }}electropolish-' + numRows + "-" + e;
                    input.name = input.id;
                    input.type = 'text';
                    td.appendChild(input);
                    tr.appendChild(td)
                });
                $("#ep_table tr:last").after(tr);

                if (numRows >= 1) {
                    $("#ep-delete-row").show()
                }
            });

            $("#ep-delete-row").click(function () {
                var numRows = getNumRows();
                if (numRows > 1) {
                    $("#ep_table tr:last").remove();
                }
                if (numRows == 2) {
                    $("#ep-delete-row").hide();
                }
            })
        });
    </script>

    <p>Information about how the APT sample was created</p>

    {{ render_field(form.preparation_method, class="") }}

    <div id="electropolish_form">
        <h3>Electropolishing Metadata</h3>

        <p>Information about the electropolishing process</p>

        <table class="table" id="ep_table">
            <tr>
                <th>Step</th>
                <th>Solution</th>
                <th>Voltage (V)</th>
                <th>Temperature (C)</th>
            </tr>
            {% for step in form.electropolish %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ step.solution() }}</td>
                    <td>{{ step.voltage() }}</td>
                    <td>{{ step.temperature() }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <button type="button" class="btn-sm btn-primary" id="ep-add-row">Add Step</button>
            <button type="button" class="btn-sm btn-danger" id="ep-delete-row">Delete Step</button>
        </p>
    </div>

    <div id="fib_form">
        <h3>FIB Lift-out Metadata</h3>

        <p>Information about the FIB lift-out process</p>

        <h4>Lift-Out Step</h4>

        <p>Metadata regarding the lift out</p>

        {{ render_field(form.fib_lift_out.lift_out_step.capping_material) }}
        {{ render_field(form.fib_lift_out.lift_out_step.wedge_dimension) }}
        {{ render_field(form.fib_lift_out.lift_out_step.ion_voltage) }}
        {{ render_field(form.fib_lift_out.lift_out_step.ion_current) }}
        {{ render_field(form.fib_lift_out.lift_out_step.sample_orientation) }}

        <h4>Sharpening Step</h4>

        <p>Data about the sharpening step</p>

        {{ render_field(form.fib_lift_out.sharpening_step.final_ion_voltage) }}
        {{ render_field(form.fib_lift_out.sharpening_step.final_ion_current) }}
    </div>

{%- endmacro %}