{% from "_form_utils.html" import render_field, render_keyvalue_field %}

{% macro leap_metadata_form(form, table_name="other-table") -%}

{{ render_field(form.leap_model) }}

{{ render_field(form.evaporation_mode, class="") }}

{{ render_field(form.voltage_ratio) }}

{{ render_field(form.laser_pulse_energy) }}

{{ render_field(form.temperature) }}

{{ render_field(form.detection_rate) }}

{{ render_field(form.starting_voltage) }}

{{ render_field(form.chamber_pressure) }}

{{ render_keyvalue_field(form.misc, table_name) }}
{%- endmacro %}

{% macro file_form(form) %}
{{ render_field(form.rhit_file) }}
{{ render_field(form.rrng_file) }}
{%- endmacro %}

{% macro sample_form(form) -%}
{{ render_field(form.sample_title) }}
{{ render_field(form.sample_description) }}
{{ render_keyvalue_field(form.metadata, "description_metadata") }}
{%- endmacro %}