{% extends "base.html" %}
{% block title %}Add Analysis Data{% endblock %}
{% from '_form_utils.html' import render_field, render_keyvalue_field %}
{% from "_utils.html" import render_errors %}
{% block body %}
    <h1>Add Analysis Results to {{ recon_name }}</h1>

    <p>Add the files created when analyzing a reconstruction.</p>

    {% set presets = form.get_presets() %}

    <p>
        Use a preset list of metadata:
        <select id="presetChoice">
            <option value="other"></option>
            {% for key, value in presets.items() %}
            <option value="{{ key }}">{{ value["title"] }}</option>
            {% endfor %}
        </select>
    </p>

    <script>
        var options = {{ presets | tojson | safe }};

        $("#presetChoice").change(function() {
            var choice = $("#presetChoice").find("option:selected")[0].value;

            // Clear the current metadata fields
            $("[name=metadata_delete]").click();

            // If the choice is other, clear all result fields
            if (choice === "other") {
                ["title", "description", "folder_name"].forEach(function (x) {
                    $("#"+x).val("");
                });
            } else {
                // Set the values of each form field
                var defaults = options[choice];
                for (var key in defaults) {
                    if (key !== "metadata") {
                        $("#" + key).val(defaults[key]);
                    } else {
                        var metadata = defaults["metadata"];
                        var i = 0;
                        for (var mkey in metadata) {
                            $("#metadata_btn-add-row").click(); // Add a row
                            $("#metadata-" + i + "-key").val(mkey);
                            $("#metadata-" + i + "-value").val(metadata[mkey]);
                            i++;
                        }
                    }
                }
            }
        })
    </script>

    {{ render_errors(errors) }}

    <form class='form-horizontal' method=post enctype="multipart/form-data">

        <h2>Analysis Description</h2>

        <p>Describe the analysis. What analysis did you perform? Why did you do it? What data are you uploading?</p>

        {{ render_field(form.title) }}

        {{ render_field(form.description) }}

        {{ render_keyvalue_field(form.metadata, "metadata") }}

        <h2>Data Files</h2>

        {{ render_field(form.folder_name) }}

        <p>Select all files that should be stored for this analysis.</p>

        {{ render_field(form.files) }}

        <p><input type="submit" class="btn-lg btn-primary" value="Add Analysis Data"/></p>

    </form>
{% endblock %}