<!DOCTYPE html>
<html lang="en">
<head>
    <title>NUCAPT Data Management</title>
    {% include '_includes.html' %}
</head>
<body>
    <div class="container">
	    <img src="{{ url_for('static', filename='nucapt.png') }}"/>
        <h1>NUCAPT Data Managment Service</h1>

        <p>Welcome to the NUCAPT data manager. This webpage will assist you in managing data from the APT starting
        from organizing the output files through keeping track of analysis steps and publish data to the
        <a href="http://materialsdatafacility.org">Materials Data Facility</a></p>

        <h3><a href="create">Create New Dataset</a></h3>

        <h3><a href="datasets">List Current Datasets</a></h3>

        <h3><a href="#">Publish Dataset to MDF</a></h3>
    </div>
</body>
</html>
