<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NUCAPT: Add Reconstruction {{ sample_name }}</title>
    {% include '_includes.html' %}
    {% import '_leap_sample_forms.html' as mf %}
    {% from '_form_utils.html' import render_field, render_keyvalue_field %}
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script>
        $(document).ready(function () {
            keyValueTable("metadata-table", "metadata");
        });
    </script>
</head>
<body>
<div class="container" enctype="multipart/form-data">
    {% from "_utils.html" import make_header, render_errors %}
    {{ make_header([(dataset_name,'/dataset/' + dataset_name),
        (sample_name, '/dataset/%s/sample/'%sample_name),
        ('Add Reconstruction', 'create')
        ]) }}
    <h1>Add Reconstruction to {{ sample_name }}</h1>

    <p>Add a new reconstruction to an sample. You need to specify the name of this reconstruction and the reconstruction method</p>

    {{ render_errors(errors) }}

    <form class='form-horizontal' method=post enctype="multipart/form-data">

        {% from "_leap_sample_forms.html" import recon_form %}
        {{ render_field(form.name) }}

        {{ mf.recon_form(form) }}

        <h2>Data Files</h2>

        <p>Data files holding the reconstruction data</p>

        {{ render_field(form.pos_file) }}

        {{ render_field(form.rrng_file) }}

        <p><input type="submit" class="btn-lg btn-primary" value="Add Reconstruction"/></p>

    </form>

</div>
</body>
</html>