{% extends "base.html" %}
{% block title %}{{ recon_name }}{% endblock %}
{% block body %}
    {% from "_utils.html" import render_errors %}
    <h1>Reconstruction <code>{{ recon_name }}</code></h1>

    {{ render_errors(errors) }}

    <table class="table">
        <tr><th>Location</th><td>{{ recon.path }}</td></tr>
        <tr><th>Title</th><td>{{ recon_metadata['title'] | safe }}</td></tr>
        <tr><th>Description</th><td>{{ recon_metadata['description'] | safe }}</td></tr>
        <tr><th>Creation Date</th><td>{{ recon_metadata['creation_date'] }}</td></tr>

        {% for item in recon_metadata['metadata'] %}
            <tr><th>{{ item['key'] | safe }}</th><td>{{ item['value'] | safe }}</td></tr>
        {% endfor %}
    </table>

    <h2>Files</h2>

    <p><strong>POS File</strong> {{ pos_path }}</p>
    <p><strong>RRNG File</strong> {{ rrng_path }}</p>

    <h2>Analysis Results</h2>

    {% set analyses = recon.get_analyses() %}
    {% if analyses | length == 0 %}
    <p>No analyses for this reconstruction have been recorded yet.</p>
    {% else %}
    <p>The following directories contain the results of analyses performed with
    the data from this reconstruction.</p>

    <table class="table">
        <tr><th>Folder Name</th><th>Title</th><th>Creation Date</th><th>Actions</th></tr>
        {% for name, metadata in recon.get_analyses().items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ metadata['title'] }}</td>
            <td>{{ metadata['creation_date'] }}</td>
            <td><a href="{{ recon_name }}/analysis/{{ name }}/edit">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h2>Actions</h2>

    <h3><a href="{{ recon_name }}/analysis/create">Add Analysis</a></h3>
{% endblock %}