<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NUCAPT: Reconstruction {{ recon_name }}</title>
    {% include '_includes.html' %}
    <script type='text/javascript' language="javascript">
    </script>
</head>
<body>
<div class="container">
    {% from "_utils.html" import make_header, render_errors %}
    {{ make_header([(dataset_name,'/dataset/%s'%dataset_name),
            (sample_name, '/dataset/%s/sample/%s'%(dataset_name,sample_name)),
            (recon_name, '#')
        ]) }}
    <h1>Reconstruction <code>{{ recon_name }}</code></h1>

    {{ render_errors(errors) }}

    {% if recon is not none %}
    <table class="table">
        <tr><th>Location</th><td>{{ recon.path }}</td></tr>
        <tr><th>Title</th><td>{{ recon_metadata['title'] | safe }}</td></tr>
        <tr><th>Description</th><td>{{ recon_metadata['description'] | safe }}</td></tr>
        <tr><th>Creation Date</th><td>{{ recon_metadata['creation_date'] }}</td></tr>

        {% for item in recon_metadata['metadata'] %}
            <tr><th>{{ item['key'] | safe }}</th><td>{{ item['value'] | safe }}</td></tr>
        {% endfor %}
    {% endif %}
    </table>

    <h2>Files</h2>

    <p><strong>POS File</strong> {{ pos_path }}</p>
    <p><strong>RRNG File</strong> {{ rrng_path }}</p>


</div>
</body>
</html>