{% extends "home.html" %}
{% block title %}Create Sample{% endblock %}
{% block body %}
    {% import '_leap_sample_forms.html' as mf %}
    {% from '_form_utils.html' import render_field %}
    {% from "_utils.html" import render_errors %}
    <h1>Create Sample for {{ name }}</h1>

    <p>This webform adds a new sample to an existing dataset. You need specify how you collected this sample,
        as well as upload the raw data files. To make your data more usable by others (or even yourself in the future),
        you should also describe your sample.</p>

    {{ render_errors(errors) }}

    <form class='form-horizontal' method=post enctype="multipart/form-data">

        {{ render_field(form.sample_name) }}

        <h2>Sample Information</h2>

        {{ mf.sample_form(form.sample_form) }}

        <h2>Sample Preparation Metadata</h2>

        {{ mf.sample_prep_form(form.preparation_form, "preparation_form-") }}

        <h2>Data Collection Metadata</h2>

        <p>Metadata about how a sample was collected.</p>
        {{ mf.leap_metadata_form(form.collection_form, 'collection_form-') }}

        <h2>Raw Data</h2>
        <p>A sample is defined by its raw data file (RHIT). You will upload any data from the reconstruction (e.g., RRNG
            files) later</p>

        {{ render_field(form.rhit_file, required=False) }}

        <p><input type="submit" class="btn-lg btn-primary" value="Create Sample"/></p>
    </form>
{% endblock %}