<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NUCAPT: Sample {{ sample_name }}</title>
    {% include '_includes.html' %}
    <script type = 'text/javascript' language="javascript">
    </script>
</head>
<body>
    <div class="container">
        {% from "_utils.html" import make_header %}
        {{ make_header([(dataset_name,'/dataset/%s'%dataset_name), (sample_name, '/dataset/%s/sample/%s'%(dataset_name,sample_name))]) }}
        <h1>Dataset {{ dataset_name }}: Sample {{ sample_name }}</h1>

        {% if errors is not none %}
        <h2>Sample Parsing Errors</h2>

        <ul>
            {% for error in errors %}
            <li>{{ error | safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if sample is not none %}

        <p>Location: {{ sample.path }}</p>

        <h2>Sample Information</h2>

        <p>RHIT File: {{ sample.get_rhit_path() }}</p>

        <p>{{ sample_metadata['sample_description'] | safe }}</p>

        {% if sample_metadata['metadata'] | length > 0 %}
        <h3>Metadata</h3>

        {% for item in sample_metadata.metadata.metadata %}

        <p><label>{{ item['key'] | safe }}</label>: {{ item['value'] | safe }}</p>
        {% endfor %}
        {% endif %}
        {% endif %}

        <h2>Actions</h2>

        <h3><a href="/dataset/{{ dataset_name }}/sample/{{ sample_name }}/edit_info">Edit Sample Information</a></h3>
        <h3><a href="/dataset/{{ dataset_name }}/sample/{{ sample_name }}/edit_collection">Edit Collection Metadata</a></h3>

        <h2>Files</h2>

        <p>TBD</p>
    </div>
</body>
</html>