{% extends "base.html" %}
{% block title %}Edit Sample{% endblock %}
{% import '_leap_sample_forms.html' as mf %}
{% from '_form_utils.html' import render_field %}
{% from '_utils.html' import render_errors %}
{% block body %}
    <h1>Edit Sample Preparation Metadata for {{ sample_name }}</h1>

    <p>Edit sample processing information. Describe how you made this APT sample.</p>

    {{ render_errors(errors) }}

    <form class='form-horizontal' method=post>
        {{ mf.sample_prep_form(form, "") }}

        <p><input type="submit" class="btn-lg btn-primary" value="Update Sample"/></p>
    </form>
{% endblock %}